#middleContent{
  height:100%;

  margin-bottom:50px;
  @include addPadding(25px, "bottom");
}

#panel{
  position:relative;
  top:-20px;
}
 main{
   height:100%;

 }

.moreContent{
  display:none;
}
