footer{
  position:relative;
  bottom:0;
  @include addBackground($primaryColor);
  width:100%;
  padding:20px;
  overflow:inherit;
}

footer [class ^= "col"]{

  @include addPadding(30px,"bottom");
}
