html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  @include addBackground($primaryColor);
  overflow:inherit;
  @include addPadding(20px,"top-bottom");
  @include addBorder(4px,"top",$secondaryColor);
}

.footer [class^="col"]{
  @include addBorder(1px, "left",$secondaryColor);
  text-align: left !important;
}
