header{
  position:fixed;
  @include addBackground($primaryColor);
  width:100%;
  padding-top:20px;
  padding-bottom:30px;
  overflow:inherit;
  height:60px !important;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 2;
}

#headerTitle{
position:relative;
left:46%;
}

.toggle-button{
  position:absolute;

}
