body {
  min-height: 100%;
  padding-top: 70px;
}

@media (max-width:767px){
  #navbarMenu{
    display:none !important;
  }
}

nav .container{
  @include addBorder(4px, "bottom",$primaryColor);
}

#header a:hover{
  color:$secondaryColor;
  @include addBorder(2px,"bottom",$secondaryColor);
}
