nav#menu{
  background: $primaryColor;
  color:white;
  top:50px;
}

nav h2{
  text-align: center;
}

nav#menu a{
  display:block;
  padding:20px;
  border-top: 2px solid $secondaryColor;
}

nav#menu a:hover{
  background: $lightColor;
  border-right: 2px solid $secondaryColor;
  text-decoration: none;
}

nav#menu a:active{
  background: $lightColor;
  text-decoration: none;
}
