#services .fa{
  font-size:35px;
  @include addPadding(20px,"all");
  @include addBackground($primaryColor);
  color:white;
  @include border-radius(5px);
}

#howitworks .fa{
  font-size:35px;
  @include border-radius(50px);
  @include addPadding(20px,"all");
  @include addBackground($primaryColor);
}

#howitworks .fa-dollar{
  @include addPadding(30px,"left-right");
}

#contactInfo .fa{
  font-size:28px;

}
footer .fa{
  font-size: 35px;
  color:$secondaryColor
}

a{
  text-decoration: none;
  color:white;
}

footer i{
  margin-right: 20px;
}

#showcase i{
  margin-top:50px;
  font-size:80px;
  @include addPadding(30px,"all");
  color:$secondaryColor;

}
