body{
  font-family: 'Poppins', sans-serif;
}
h2, h4{
  color:	#565656;
}

.letterSpacing{
  letter-spacing: 10px;
}
#services .fa{
  font-size:35px;
  @include addPadding(20px,"all");
  @include addBackground($primaryColor);
  color:white;
  @include border-radius(5px);
}

#howitworks .fa{
  font-size:35px;
  @include border-radius(60px);
  @include addPadding(40px,"all");
  @include addBackground($primaryColor);
}

#howitworks .fa-dollar{
  @include addPadding(50px,"left-right");
}

.stepTitle{
  color:	#565656 !important;
  @include addPadding(10px,"left");
}
#howitworks h3{
  color:$secondaryColor;
}
#contactInfo .fa{
  font-size:28px;

}
footer .fa{
  font-size: 35px;
  color:$secondaryColor
}

a{
  text-decoration: none;
  color:white;
}

footer i{
  margin-right: 20px;
}

#showcase i{
  margin-top:50px;
  font-size:80px;
  @include addPadding(30px,"all");
  color:$secondaryColor;

}

#emailHelp, #searchHelp{
  color:red;
}

a.searchTitle{
  font-size:20px;
  color:$primaryColor !important;
}

a.searchTitle:visited{
  color:purple;
}

p.searchLink{
  color:#008000;
}
