#services .fa{
  font-size: 35px;
  padding:20px;
  background: $primaryColor;
  color:white;
  border-radius:5px 5px;
}

footer .fa{
  font-size: 35px;
  color:$secondaryColor
}

a{
  text-decoration: none;
  color:white;
}

footer i{
  margin-right: 20px;
}
